@charset "UTF-8";


#TH_header-wrap{
	display: block;
	position: relative;
	height: 70px;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}
#TH_main-logo{
	position: relative;
	left: 1vw;
	top: 1vh;
}
#TH_header-wrap ul{
	position: fixed;
	display: inline;
	right: 1vw;
	top: 20px;
}
#TH_header-wrap ul li{
	
	display: inline;
	margin: 0px 20px 0px 20px;
	font-size: 20px;
	font-weight: bold;
}#TH_header-wrap ul li:HOVER{cursor: pointer;}

#TH_tooltip{
	width: 200px;
	text-align: center;
	padding: 0px;
	margin: 15px 15px 15px 15px;
}
#TH_tooltip>ul{
	width: 100%;
	top: 30px;
	left: 5px;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 20px; 
	padding: 0px;
	min-width: 200px;
/* 	margin-bottom: 100vh; */
}
#TH_tooltip>ul>li{
	display: block;
	margin: 5px 5px 5px 5px; 
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
#TH_tooltip>ul>li:HOVER{
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	transition: all 1s; 
}

#TH_basket-list{
	display: inline;
	text-align: center;
}
#TH_basket-list>thead{
	font-weight: bold;
	font-size: 1.2em;
}
#TH_basket-list>tbody>tr>td{
	vertical-align: middle;
	width: 20vw;
}
#TH_coupon-list>tbody>tr>td{
	vertical-align: middle;
	width: 20vw;
}
.TH_wrap{
	text-align: center;
	max-width: 1280px;
	margin: 0px auto 0px auto 
}
.wrap600{
	max-width: 600px;
	text-align: center;
	margin: 0px auto 0px auto; 
}






