<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="article.three.dao.MainReadDAO">
	<select id="TopClassSelect" resultType="article.three.dto.TopClassDTO">
		<![CDATA[
			SELECT cl.no 'classNo',cl.cre_id 'creator',cl.cover_img 'coverImg',cl.title 'title',ca.no 'categoryNo', ca.name 'categoryName', 
				count(*) 'TopRankCount'
			FROM class cl JOIN category ca JOIN buyer buy
			ON cl.category_no=ca.no
				AND cl.no = buy.class_no
			WHERE ca.name = #{}
			GROUP BY cl.no
			LIMIT 5;
		]]>
	</select>
	
	<select id="InterestedClassSelect" resultType="article.three.dto.InterestedClassDTO">
		<![CDATA[
			SELECT cl.no 'classNo',cl.cre_id 'creator',cl.cover_img 'coverImg',cl.title 'title',ca.no 'categoryNo', ca.name 'categoryName', 
				count(*) 'interestCount' 
			FROM class cl JOIN category ca JOIN jjim jj
			ON cl.category_no=ca.no
				AND cl.no = jj.class_no
			GROUP BY cl.no
			LIMIT 5;		
		]]>
	</select>
	
</mapper>