@charset "UTF-8";

	/*페이지 전체 영역 가로 크기와 마진*/
	#wrap{
		margin: 0 auto;
		max-width: 1200px;
		width: 100vw;
	}
	#wrap div{
		background-size: contain;
	}
	
	#myCarousel{
		
		
	}
	
	/*이미지슬라이드  영역 세로 크기*/
	.sec01{
	height: 350px;
	}
	
	/*top5  영역 세로 크기*/
	.sec02{
	height: 300px;
	}
	
	/* top5  영역에 div태그 크기와 간격*/
	.sec02>div{
	
	float: left; 
	width: 17%; 
	margin: 0.5%; 
	height: 200px; 
	margin-top: 5%;
	margin-left: 2%;
	}
	
	/*카테고리 아이콘 영역 크기*/
	.sec03{
	width: 100%;
	height: 500px;
	}
	
	
	/*카테고리 아이콘 크기와 간격*/
	.sec03>div{
	float: left; 
	width: 16%; 
	margin: 1%; 
	height: 120px; 
	border-radius: 50%;
	margin-top: 5%;
	margin-left: 5%;
	}
	
	/*카테고리 아이콘 마우스 오버 시*/
	#categ:hover {
	transform:scale(1.05); -o-transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);

 	transition: transform .35s;  -o-transition: transform .35s;  -moz-transition: transform .35s;  -webkit-transition: transform .35s;
 	
	}
	
	/*카테고리 아이콘 영역의 텍스트 정렬 설정*/
	#categ>a>div{
	 text-align: center;
	}
	
	/*카테고리 아이콘의 텍스트 마우스 오버시 */
	#categ>a>div:hover{
	text-decoration: none;
	 
	}
	
	/*top5영역의 섬네일 이미지 */
	#one>a>div>img{
		 width : 100%;
		
		 transition: all 0.3s ease-in 0s;
	}
	
	/*top5영역의 섬네일 이미지 마우스 오버시*/
	#one>a>div:hover>img{
		transform: scale(1.1) translateZ(0px);
		
		
	}
	
	/*top5영역 섬네일 이미지 밑의 제목 텍스트 설정 */
	#one_div{
	text-overflow: ellipsis;
   	display: -webkit-box;
    -webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
   	overflow-wrap: break-word;
   	color: #000;
   	overflow: hidden;
   	font-size: 16px;
   	font-weight: normal;
    line-height: 25px;
  							
  	margin: 0px;
    height: 50px;
	}
	
	
	
/*반응형 디자인*/	
@media (max-width: 968px) {

	.sec02{
	height : 600px;
	}
	
	.sec02>div{
	width: 24%; 
	margin:	4%; 
	}
	
	.sec03{
 		height :800px;
	}
	
	.sec03>div{
	width: 17%; 
	margin: 8%; 
	}
}
	
/*반응형 디자인*/	
@media (max-width: 724px) {
	
	.sec02{
	height : 800px;
	}
	.sec02>div{
	
	width: 42%; 
	margin:	4%; 
	
	}
	
	.sec03{
		height: 1000px;
	}
	.sec03>div{
	width: 30%; 
	margin: 10%; 
	
	}
}
/********************▲여기까지 창현씨의 노고 *******************/




