@charset "UTF-8";

	/*페이지 전체 영역 가로 크기와 마진*/
	#wrap{
		margin: 0 auto;
		max-width: 1200px;
		width: 100vw;
		padding-left: 2px;
		padding-right: 2px;
					
	}
	.swiper-pagination-bullet-active{
		background-color: tomato !important;
	}
	.TH_widthOverHidden{
		overflow-x: hidden;
	}
	#TH_eventCarousel>div>img{
		max-height: 400px;
		width: auto;
		margin: 0px auto;
	}
	.TH_onclickContent{
		text-align: center;
		margin: 5px;
		padding: 0px;
		width: 90px;
		height: 120px;
		display: inline-block;
	}
	.TH_onclickContent:HOVER{
		cursor: pointer;
	}
	.TH_cateimg{
		width: 90px;
		height: 90px;
	}
	.TH_eventImg>img{
		height: 400px;
		width: auto;
	}
	.TH_inter-button, .TH_pop-button, .TH_event-button{
		position: absolute;
		top: 50%;
		width: 27px;
		height: 44px;
		margin-top: -22px;
		z-index: 10;
		cursor: pointer;
		background-size: 27px 44px;
		background-position: center;
		background-repeat: no-repeat;
	}
	#TH_category{
		text-align: center;
		min-height: 120px; 
		margin-bottom: 10px;
		margin-top: 10px; 
		padding: 5px;
	}
	#TH_category_class{
		margin-bottom: 10px;
		margin-top: 10px; 
		padding: 5px;
	}
	.TH_replyContents{
		padding: 10px;
		
	}
	#TH_commentContents{
		border: 1px solid rgba(0,0,0,0.5);
		margin: 10px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	#TH_commentContents>p>a{
		font-weight: bold;
		color: tomato;
		text-decoration: none;
	}
	#TH_community{
		margin-bottom: 10px;
		margin-top: 10px; 
		padding: 5px;
		border-bottom: 1px solid rgba(0,0,0,0.2); 
		background-color: rgba(200,200,200,0.1);
	}
	.TH_replyProfile{
		width: 300px;
		height: 50px;
		padding: 0px;
		vertical-align: middle;
	}
	.TH_replyProfile>img{
		height: 50px;
		border-width: 50px; 
	}
	.TH_replyProfile>div{
		display: inline;
		
	}
	.TH_replyContent{
		margin-top: 15px;
		padding: 0px 10px;
	}
	.TH_replyContent>p{
		margin: 0px;
		
	}
	.TH_allReplyList{
		border-top: 1px solid rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		box-shadow: rgba(0,0,0,0.2) 5px 0px 5px,
					rgba(0,0,0,0.2) -5px 0px 5px;
	}
	#TH_curriculumContents{
		padding: 30px 10px;
		border-top: 1px solid rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	.TH_subjectNum{
		display: inline-block;
		border-radius: 100%;
		border: 1px solid rgba(0,0,0,0.2);
		width: 1.5em; 
		height: 1.5em;
		text-align: center;
	}
	.TH_curriculuminfo{
		padding: 15px 10px;
	}
	.TH_targetContent>.row{
		width: 350px;
		text-align: center;
		display: inline-block;
	}
	.TH_targetContent>.row>img{
		height: 50px;
		width: auto;
	}
	.TH_targetContent>p{
		font-size: 0.9em;
	}
	.TH_realwell{
		background-color: rgba(0,0,0,0.1);
	}
	.TH_allReplyList>tbody>tr>td:HOVER{
		cursor: pointer;
	}